{% extends "base.html" %}
{% load static %}

{% block content %}

<body>
  <section class="jumbotron text-center">
    <div class="container">
      <h1 class="jumbotron-heading">MoneyBelieve</h1>
      <br>
      <p class="lead text-muted">ポートフォリオの見極めをより簡単に</p>
      <p>
        <a href="{% url 'account_signup' %}" class="btn btn-primary my-2">ユーザ登録</a>
      </p>
    </div>
  </section>

  <div class="container">
    <div class="row mt centered">
      <div class="col-lg-6 col-lg-offset-3">
        <h2>Your Landing Page<br/>Looks Wonderful Now.</h2>
        <h4>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</h4>
      </div>
    </div>
    <!-- /row -->

    <div class="row mt centered">
      <div class="col-lg-4">
        <i class="fa fa-ship fa-5x" aria-hidden="true"></i>
        <h4>1 - Browser Compatibility</h4>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever.</p>
      </div>
      <!--/col-lg-4 -->

      <div class="col-lg-4">
        <i class="fa fa-ship fa-5x" aria-hidden="true"></i>
        <h4>2 - Email Campaigns</h4>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever.</p>

      </div>
      <!--/col-lg-4 -->

      <div class="col-lg-4">
        <i class="fa fa-ship fa-5x" aria-hidden="true"></i>
        <h4>3 - Gather Your Notes</h4>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever.</p>

      </div>
      <!--/col-lg-4 -->
    </div>
    <!-- /row -->
  </div>
  <!-- /container -->

  <div class="container">
    <hr>
    <div class="row centered">
      <div class="col-lg-6 col-lg-offset-3">
        <form class="form-inline" role="form">
          <button href="{% url 'account_signup' %}" class="btn btn-warning btn-lg">Sign Up!</button>
        </form>
      </div>
      <div class="col-lg-3"></div>
    </div>
    <!-- /row -->
    <hr>
  </div>
  <!-- /container -->

  <div class="container">
    <div class="row mt centered">
      <div class="col-lg-6 col-lg-offset-3">
        <h1>Our Awesome Team.<br/>Design Lovers.</h1>
        <h3>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</h3>
      </div>
    </div>
    <!-- /row -->

    <div class="row mt centered">
      <div class="col-lg-4">
        <img class="img-circle" src="{% static 'img/pic1.jpg' %}" width="140" alt="">
        <h4>Michael Robson</h4>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever.</p>
        <p><i class="glyphicon glyphicon-send"></i> <i class="glyphicon glyphicon-phone"></i> <i class="glyphicon glyphicon-globe"></i></p>
      </div>
      <!--/col-lg-4 -->

      <div class="col-lg-4">
        <img class="img-circle" src="{% static 'img/pic2.jpg' %}" width="140" alt="">
        <h4>Pete Ford</h4>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever.</p>
        <p><i class="glyphicon glyphicon-send"></i> <i class="glyphicon glyphicon-phone"></i> <i class="glyphicon glyphicon-globe"></i></p>
      </div>
      <!--/col-lg-4 -->

      <div class="col-lg-4">
        <img class="img-circle" src="{% static 'img/pic3.jpg' %}" width="140" alt="">
        <h4>Angelica Finning</h4>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever.</p>
        <p><i class="glyphicon glyphicon-send"></i> <i class="glyphicon glyphicon-phone"></i> <i class="glyphicon glyphicon-globe"></i></p>
      </div>
      <!--/col-lg-4 -->
    </div>
    <!-- /row -->
  </div>
  <!-- /container -->

  <div class="container">
    <hr>
    <div class="row centered">
      <div class="col-lg-6 col-lg-offset-3">
        <form class="form-inline" role="form">
          <button href="{% url 'account_signup' %}" class="btn btn-warning btn-lg">Sign Up!</button>
        </form>
      </div>
      <div class="col-lg-3"></div>
    </div>
    <!-- /row -->
    <hr>
  </div>
  <!-- /container -->

  <div id="copyrights">
    <div class="container">
      <p>
        &copy; Copyrights <strong>MoneyBelieve</strong>. All Rights Reserved
      </p>
      <div class="credits">
        <!--
          You are NOT allowed to delete the credit link to TemplateMag with free version.
          You can delete the credit link only if you bought the pro version.
          Buy the pro version with working PHP/AJAX contact form: https://templatemag.com/MoneyBelieve-bootstrap-app-landing-page-template/
          Licensing information: https://templatemag.com/license/
        -->
        Created with template by <a href="https://templatemag.com/">TemplateMag</a>
      </div>
    </div>
  </div>
  <!-- / copyrights -->

  <!-- JavaScript Libraries -->
  <script src="{% static 'lib/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'lib/bootstrap/js/bootstrap.min.js' %}"></script>
  <script src="{% static 'lib/php-mail-form/validate.js' %}"></script>
  <script src="{% static 'lib/easing/easing.min.js' %}"></script>

  <!-- Template Main Javascript File -->
  <script src="{% static 'js/main.js' %}"></script>

</body>
{% endblock content %}