{% extends "base.html" %}

{% block content %}
<div class="container">
  <h1>Your object and Rating</h1>

  <table class="table table-hover">
    <thead class="thead-light">
      <tr>
        <th>{{ object.ticker }}</th>
        <th>{{ object.company_name }}</th>
        <th>#</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>threeYRevenueGrowthPerShare</td>
        <td>{{ object.threeYRevenueGrowthPerShare }}</td>
        <td></td>
      </tr>
      <tr>
        <td>fiveYRevenueGrowthPerShare</td>
        <td>{{ object.fiveYRevenueGrowthPerShare }}</td>
        <td></td>
      </tr>
      <tr>
        <td>tenYRevenueGrowthPerShare</td>
        <td>{{ object.tenYRevenueGrowthPerShare }}</td>
        <td></td>
      </tr>
      <tr>
        <td>threeYNetIncomeGrowthPerShare</td>
        <td>{{ object.threeYNetIncomeGrowthPerShare }}</td>
        <td></td>
      </tr>
      <tr>
        <td>fiveYNetIncomeGrowthPerShare</td>
        <td>{{ object.fiveYNetIncomeGrowthPerShare }}</td>
        <td></td>
      </tr>
      <tr>
        <td>tenYNetIncomeGrowthPerShare</td>
        <td>{{ object.tenYNetIncomeGrowthPerShare }}</td>
        <td></td>
      </tr>
      <tr>
        <td>ROA</td>
        <td>{{ object.roa }}</td>
        <td></td>
      </tr>
      <tr>
        <td>ROE</td>
        <td>{{ object.roe }}</td>
        <td></td>
      </tr>
      <tr>
        <td>epsgrowth</td>
        <td>{{ object.epsgrowth }}</td>
        <td></td>
      </tr>
    </tbody>
  </table>

</div>
{% endblock %}