{% extends "base.html" %}
{% block content %}
<div class="container" style="margin-top: 50px"></div>
  <form method="post" action="" class="form-group mt-100">
    {% csrf_token %}
    {% for item in form %}
    <div class="form-group">
      <label for="{{item.id_for_label}}">{{item.label}}</label>
      <input type="{{item.field.widget.input_type}}" class="form-control" {% if item.field.required %}required{% endif %}
        name="{{item.name}}" id="{{item.id_for_label}}">
    </div>
    {% endfor %}
    <button type="submit" class="submit btn btn-primary">登録</button>
    <input type="hidden" name="next" value="登録" />
  </form>
</div>
{% endblock content %}